<div style="width: 100%; margin: auto; background: #dedede; padding: 20px 12px;">
    <h3 style="margin: 0">Hi {{name}},</h3>
    <p style="margin-top: 2px;">Welcome to Cloudstack</p>
    <div>
        <p style="margin-top: 0">
            Thank you for joining for our platform. We heartily welcome your presence to our doorstep.
            Click below to confirm your account and get full access to the Cloudstack app.
        </p>
        <button style="background-color: rgb(19, 50, 172); border: none; border-radius: 5px; color: rgb(255, 255, 255); padding: 8px 12px; font-size: 17px;">
            <a href="{{confirmAccountUrl}}" target="_blank" style="text-decoration: none; color: #fff">
            Confirm Account
            </a>
        </button>
    </div>
</div>